Problem Statement:
You work in XYZ Corporation as a Data Analyst. Your corporation has told you to work with the 
statistics.
Tasks to be performed:
1. Create a table in excel, table should have 2 columns named x and y. 
a. ‘x’ column should have numbers from 1-5.
b. ‘y’ should have numbers 2,4,5,4,2
c. Now calculate the mean of columns x and y.
d. Calculate the mode of column x.
e. Calculate the standard deviation of column y.
f. Atlast calculate the range of columns x and y seperatly

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel('Book.xlsx')
df

   X  Y
0  1  2
1  2  4
2  3  5
3  4  4
4  5  2

In [5]:
df.mean()

X    3.0
Y    3.4
dtype: float64

In [7]:
df['X'].mode()

0    1
1    2
2    3
3    4
4    5
Name: X, dtype: int64

In [11]:
df['Y'].std()

1.3416407864998738

In [15]:
minimum = min(df.X)
maximum = max(df.X)

print(f'The range of X is {minimum}, {maximum}')

The range of X is 1, 5

In [16]:
minimum = min(df.Y)
maximum = max(df.Y)

print(f'The range of Y is {minimum}, {maximum}')

The range of Y is 2, 5